body {
    background: #eef2f3;
    font-family: Arial;
}

.box {
    width: 350px;
    margin: 120px auto;
    padding: 25px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
